*{
  margin: 0;
}
body{
  background-color: #02010a;
  font-family: 'Dancing Script', cursive;
  font-size: 1.3em;
}
/*cabecera*/
.contenido {

  width: 900px;
  height: 100%;
  margin: 0 auto;
  margin-top: 0px;

}
#cabecera {
  background-color: #5b7989;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  padding: 0.5em;

}
#cabecera h1{
  text-shadow: 2px 2px 2px #02010a;
  margin: auto;
}

#cabecera nav {
  text-align: right;
  margin: auto;
}

#cabecera a{
  color: white;
}
a[href^='index']{
  text-decoration: none;
}
/*imagen central*/
#imagenCentral img{
  width: 90%;
  margin: 1.5em;
  padding: 0.5em;

}
#imagenCentral{
  background-color: #82c3a6;
  width: 100%;
}
/*imagenes secundarias*/
#imagenSecundarias{
  display: flex;
  flex-direction: row;
  background-color: #d5c75f;
  padding: 0.5em;

}
.imagen2 {
  width: 90%;
  border: 2px solid;
  box-shadow: 2px 2px 5px #82c3a6;
}

.imagen3 {
  width: 85%;
  border: 2px solid;
  box-shadow: 1px 1px 3px #82c3a6;
}
#imagenSecundarias figure{
  text-align:center;
}
/*animacion de las imagenes secundarias*/
@-webKit-keyframes rotacion{
  from{

  }
  to{
    transform: rotate(10deg);
  }
}
#img2 :hover{
  animation: rotacion 2s;
}
@-webKit-keyframes translacion{
  from{

  }
  to{
    transform: translate(5px,-20px);
  }
}
#img3 :hover{
  animation: translacion 2s;
}

/*pie de pagina*/
#PiePagina{
  background-color: #C6d5c5;
  display: flex;
  flex-direction: row;
  word-spacing: normal;
  padding: 0.5em;
  border-bottom-left-radius:10px;
  border-bottom-right-radius: 10px;
}
.contacto{
  margin: auto;
}
.termino{
  margin: auto;
}
.redes{
  margin: auto;
}
.derechos{
  margin: auto;
}
