body{
  background-color: #02010a;
  font-family: 'Dancing Script', cursive;
  font-size: 1.5em;
}

.contenido {

  width: 900px;
  height: 100%;
  margin: 0 auto;
  margin-top: -30px;
}
.cabecera {
  background-color: #5b7989;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.cabecera h1{
  text-shadow: 2px 2px 2px #02010a;
}
.menu nav {
  text-align: right;
  height: 100%
}

.menu a{
  color: white;
}
