*{
  margin: 0;
}
body{
  background-color: #02010a;
  font-family: 'Dancing Script', cursive;
  font-size: 1.3em;
}
/*cabecera*/
.contenido {

  width: 900px;
  height: 100%;
  margin: 0 auto;
  margin-top: 0px;
  -webkit-flex-flow: row wrap;
	flex-flow: row wrap;
  display: -webkit-flex;
	display: flex;

}
#cabecera {
  background-color: #5b7989;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  padding-top:  0.5em;
  padding-bottom: 0.5em;
  display: flex;

}
#cabecera h1{
  text-shadow: 2px 2px 2px #02010a;
  margin-right: 20%;
  margin-left: 2%;
}

#cabecera nav {
  text-align: right;
  margin: 1%;
}

#cabecera a{
  color: white;
}
a[href^='index']{
  text-decoration: none;
}
/*imagen central*/
#imagenCentral img{
  width: 85%;
  margin: 1.5em;
  padding: 0.5em;

}
#imagenCentral{
  background-color: #82c3a6;
  width: 100%;
  display: flex;
  flex-direction: row;
}
/*imagenes secundarias*/
#imagenSecundarias{
  display: flex;
  flex-direction: row;
  background-color: #d5c75f;
  padding: 0.5em;
  width: 100%
}
.imagen2 {
  width: 90%;
  border: 2px solid;
  box-shadow: 2px 2px 5px #82c3a6;
}

.imagen3 {
  width: 85%;
  border: 2px solid;
  box-shadow: 1px 1px 3px #82c3a6;
}
#imagenSecundarias figure{
  text-align:center;
}
/*animacion de las imagenes secundarias*/
@-webkit-keyframes rotacion{
  from{

  }
  to{
    transform: rotate(10deg);
  }
}
#img2 :hover{
  animation: rotacion 2s;
}
@-webkit-keyframes translacion{
  from{

  }
  to{
    transform: translate(5px,-20px);
  }
}
#img3 :hover{
  animation: translacion 2s;
}

/*pie de pagina*/
#PiePagina{
  background-color: #C6d5c5;
  display: flex;
  flex-direction: row;
  word-spacing: normal;
  padding: 0.5em;
  border-bottom-left-radius:10px;
  border-bottom-right-radius: 10px;
  width: 100%;
}
.contacto , .termino , .redes , .derechos{
  margin: 4%;
}

.redes a{
  color: black;
}

/*media queries*/
@media  (max-width: 420px){
  #cabecera{
    width: 100%;
    flex-direction: column;
    margin: auto;
    padding-right: 1em;
  }
  #cabecera nav {
    text-align: center;
  }
  #imagenCentral{
    width: 100%;
    flex-direction: column;
    margin: auto;
    padding-right: 1em;
  }
  #imagenSecundarias{
    width: 100%;
    flex-direction: column;
    margin:auto;

  }
  .imagen2{
    width: 75%;
  }
  .imagen3{
    width: 75%;
  }

  #PiePagina{
    width: 100%;
    flex-wrap: wrap;
    margin: auto;
  }
  .contenido {
  width: 100%;
  margin: auto;
  flex-direction:column;

  }
}

@media  (min-width: 421px) and (max-width:900px){
  #cabecera{
    width: 100%;
    flex-direction: column;
    margin: auto;

  }
  #cabecera nav {
    text-align: center;
  }
  #imagenCentral{
    width: 100%;
    flex-direction: column;
    margin: auto;
  }
  #imagenSecundarias{
    width: 100%;
    flex-direction: column;
    margin: auto;
  }
  .imagen2{
    width: 75%;
  }
  .imagen3{
    width: 75%;
  }

  #PiePagina{
    width: 100%;
    flex-wrap: wrap;
    margin: auto;
  }
  .contenido {
  width: 100%;
  margin: auto;
  flex-direction:column;

  }
}
